@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 41 100% 100%;
    --foreground: 41 5% 10%;
    --card: 41 50% 100%;
    --card-foreground: 41 5% 15%;
    --popover: 41 100% 100%;
    --popover-foreground: 41 100% 10%;
    --primary: 41 68.9% 64.7%;
    --primary-foreground: 0 0% 0%;
    --secondary: 41 30% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: 3 30% 95%;
    --muted-foreground: 41 5% 40%;
    --accent: 3 30% 90%;
    --accent-foreground: 41 5% 15%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 41 5% 100%;
    --border: 41 30% 82%;
    --input: 41 30% 50%;
    --ring: 41 68.9% 64.7%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 41 50% 10%;
    --foreground: 41 5% 100%;
    --card: 41 50% 10%;
    --card-foreground: 41 5% 100%;
    --popover: 41 50% 5%;
    --popover-foreground: 41 5% 100%;
    --primary: 41 68.9% 64.7%;
    --primary-foreground: 0 0% 0%;
    --secondary: 41 30% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 3 30% 25%;
    --muted-foreground: 41 5% 65%;
    --accent: 3 30% 25%;
    --accent-foreground: 41 5% 95%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 41 5% 100%;
    --border: 41 30% 50%;
    --input: 41 30% 50%;
    --ring: 41 68.9% 64.7%;
    --radius: 0.5rem;
  }

  * {
    @apply border-border;
    color-scheme: light;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.radial-gradient {
  background: radial-gradient(
      circle at 50% 0%,
      rgba(123, 48, 24, 0.05) 0%,
      transparent 60%
    ),
    rgba(49, 24, 14, 1);
}

.linear-mask {
  mask-image: linear-gradient(
    -75deg,
    rgba(227, 187, 103, 1) calc(var(--x) + 20%),
    transparent calc(var(--x) + 30%),
    rgba(227, 187, 103, 1) calc(var(--x) + 100%)
  );
  -webkit-mask-image: linear-gradient(
    -75deg,
    rgba(227, 187, 103, 1) calc(var(--x) + 20%),
    transparent calc(var(--x) + 30%),
    rgba(227, 187, 103, 1) calc(var(--x) + 100%)
  );
}

.linear-overlay {
  background-image: linear-gradient(
    -75deg,
    rgba(227, 187, 103, 0.4) calc(var(--x) + 20%),
    rgba(227, 187, 103, 1) calc(var(--x) + 25%),
    rgba(227, 187, 103, 0.4) calc(var(--x) + 100%)
      /* rgba(255, 255, 255, 0.1) calc(var(--x) + 20%),
    rgba(255, 255, 255, 0.5) calc(var(--x) + 25%),
    rgba(255, 255, 255, 0.1) calc(var(--x) + 100%) */
  );
  mask:
    linear-gradient(hsl(var(--primary)), hsl(var(--primary))) content-box,
    linear-gradient(hsl(var(--primary)), hsl(var(--primary)));
  -webkit-mask:
    linear-gradient(hsl(var(--primary)), hsl(var(--primary))) content-box,
    linear-gradient(hsl(var(--primary)), hsl(var(--primary)));
  mask-composite: exclude;
  -webkit-mask-composite: xor;
}
